<h3 *ngIf="(hasInserts | async) === false" class="text-xs-center">
    Nie dokonano jeszcze zakupu paszy dla wybranego stada
</h3>

<mat-card class="mat-elevation-z0">
    <span mat-card-title>Zakup paszy</span> <!-- TODO this should act as breadcrumbs -->

    <cdk-table #table [dataSource]="fodderPurchases | async">

        <ng-container cdkColumnDef="date">
            <cdk-header-cell *cdkHeaderCellDef>Data</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.date | date:'dd/MM/yy' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="type">
            <cdk-header-cell *cdkHeaderCellDef>Rodzaj</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.type }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="provider">
            <cdk-header-cell *cdkHeaderCellDef>Dostawca</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.provider }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="quantity">
            <cdk-header-cell *cdkHeaderCellDef>Ilość</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.quantity | number:'1.0-0' }} kg</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="price">
            <cdk-header-cell *cdkHeaderCellDef>Cena/tonę</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.price | number:'1.2-2' }} zł</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="value">
            <cdk-header-cell *cdkHeaderCellDef>Wartość</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ (item.quantity * item.price / 1000) | number:'1.2-2' }} zł</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">
                <span class="table__row-action">
                    <a mat-button [routerLink]="item.id">Edytuj</a>
                    <a mat-button (click)="showDeleteDialog(item.id)">Usuń</a>
                </span>
            </cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>

    </cdk-table>

</mat-card>

<div class="table__action-bar">
    <a routerLink="add" mat-raised-button color="accent" type="text">Zakup paszy</a>
</div>
