<table class="table table-hover table-outline m-b-0 hidden-sm-down">
    <thead class="thead-default">
        <tr>
            <th class="text-xs-center">Data</th>
            <th>Ilość</th>
            <th class="text-xs-center">Cena/szt</th>
            <th>Wartość</th>
            <th class="text-xs-center">Edytuj</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-xs-center">
                <div class="avatar">
                    <img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/1.jpg">
                    <span class="avatar-status tag-success"></span>
                </div>
            </td>
            <td>
                <div>Yiorgos Avraamu</div>
                <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                </div>
            </td>
            <td class="text-xs-center">
                <img alt="USA" src="assets/img/flags/USA.png" style="height:24px;">
            </td>
            <td>
                <div class="clearfix">
                    <div class="pull-left">
                        <strong>50%</strong>
                    </div>
                    <div class="pull-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                </div>
                <progress class="progress progress-xs progress-success" max="100" style="margin:5px 0 0 0;" value="50">50%</progress>
            </td>
            <td class="text-xs-center">
                <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
            </td>
            <td>
                <div class="small text-muted">Last login</div>
                <strong>10 sec ago</strong>
            </td>
        </tr>
        <tr>
            <td class="text-xs-center">
                <div class="avatar">
                    <img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/2.jpg">
                    <span class="avatar-status tag-danger"></span>
                </div>
            </td>
            <td>
                <div>Avram Tarasios</div>
                <div class="small text-muted">
                    <span>Recurring</span> | Registered: Jan 1, 2015
                </div>
            </td>
            <td class="text-xs-center">
                <img alt="Brazil" src="assets/img/flags/Brazil.png" style="height:24px;">
            </td>
            <td>
                <div class="clearfix">
                    <div class="pull-left">
                        <strong>10%</strong>
                    </div>
                    <div class="pull-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                </div>
                <progress class="progress progress-xs progress-info" max="100" style="margin:5px 0 0 0;" value="10">10%</progress>
            </td>
            <td class="text-xs-center">
                <i class="fa fa-cc-visa" style="font-size:24px"></i>
            </td>
            <td>
                <div class="small text-muted">Last login</div>
                <strong>5 minutes ago</strong>
            </td>
        </tr>
        <tr>
            <td class="text-xs-center">
                <div class="avatar">
                    <img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/3.jpg">
                    <span class="avatar-status tag-warning"></span>
                </div>
            </td>
            <td>
                <div>Quintin Ed</div>
                <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                </div>
            </td>
            <td class="text-xs-center">
                <img alt="India" src="assets/img/flags/India.png" style="height:24px;">
            </td>
            <td>
                <div class="clearfix">
                    <div class="pull-left">
                        <strong>74%</strong>
                    </div>
                    <div class="pull-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                </div>
                <progress class="progress progress-xs progress-warning" max="100" style="margin:5px 0 0 0;" value="74">74%</progress>
            </td>
            <td class="text-xs-center">
                <i class="fa fa-cc-stripe" style="font-size:24px"></i>
            </td>
            <td>
                <div class="small text-muted">Last login</div>
                <strong>1 hour ago</strong>
            </td>
        </tr>
        <tr>
            <td class="text-xs-center">
                <div class="avatar">
                    <img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/4.jpg">
                    <span class="avatar-status tag-default"></span>
                </div>
            </td>
            <td>
                <div>Enéas Kwadwo</div>
                <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                </div>
            </td>
            <td class="text-xs-center">
                <img alt="France" src="assets/img/flags/France.png" style="height:24px;">
            </td>
            <td>
                <div class="clearfix">
                    <div class="pull-left">
                        <strong>98%</strong>
                    </div>
                    <div class="pull-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                </div>
                <progress class="progress progress-xs progress-danger" max="100" style="margin:5px 0 0 0;" value="98">98%</progress>
            </td>
            <td class="text-xs-center">
                <i class="fa fa-paypal" style="font-size:24px"></i>
            </td>
            <td>
                <div class="small text-muted">Last login</div>
                <strong>Last month</strong>
            </td>
        </tr>
        <tr>
            <td class="text-xs-center">
                <div class="avatar">
                    <img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/5.jpg">
                    <span class="avatar-status tag-success"></span>
                </div>
            </td>
            <td>
                <div>Agapetus Tadeáš</div>
                <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                </div>
            </td>
            <td class="text-xs-center">
                <img alt="Spain" src="assets/img/flags/Spain.png" style="height:24px;">
            </td>
            <td>
                <div class="clearfix">
                    <div class="pull-left">
                        <strong>22%</strong>
                    </div>
                    <div class="pull-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                </div>
                <progress class="progress progress-xs progress-info" max="100" style="margin:5px 0 0 0;" value="22">22%</progress>
            </td>
            <td class="text-xs-center">
                <i class="fa fa-google-wallet" style="font-size:24px"></i>
            </td>
            <td>
                <div class="small text-muted">Last login</div>
                <strong>Last week</strong>
            </td>
        </tr>
        <tr>
            <td class="text-xs-center">
                <div class="avatar">
                    <img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg">
                    <span class="avatar-status tag-danger"></span>
                </div>
            </td>
            <td>
                <div>Friderik Dávid</div>
                <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                </div>
            </td>
            <td class="text-xs-center">
                <img alt="Poland" src="assets/img/flags/Poland.png" style="height:24px;">
            </td>
            <td>
                <div class="clearfix">
                    <div class="pull-left">
                        <strong>43%</strong>
                    </div>
                    <div class="pull-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                    </div>
                </div>
                <progress class="progress progress-xs progress-success" max="100" style="margin:5px 0 0 0;" value="43">43%</progress>
            </td>
            <td class="text-xs-center">
                <i class="fa fa-cc-amex" style="font-size:24px"></i>
            </td>
            <td>
                <div class="small text-muted">Last login</div>
                <strong>Yesterday</strong>
            </td>
        </tr>
    </tbody>
</table>