<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="id">ID stada</label>
                    <input id="id" class="form-control" [formControl]="form.controls.id" type="text">
                </div>

                <div class="form-group">
                    <label for="closingDate">Data zakończenia</label>
                    <input id="closingDate" class="form-control" [formControl]="form.controls.closingDate" type="text">
                </div>

                <div class="nav pull-right">
                    <a (click)="onCancel()" class="btn btn-link">Anuluj</a>
                    <button class="btn btn-success" type="submit">Zakończ</button>
                </div>

            </form>


        </div>
    </div>

</div>