<mat-card class="mat-elevation-z0 mat-card--list">

    <mat-card-title>Rozwiązanie stada</mat-card-title>

    <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">
        <!--TODO today should be preselected-->
        <mat-form-field>
            <input
                matInput
                required
                name="closeDate"
                placeholder="Data rozwiązania stada"
                [ngModel]="(model | async)?.closeDate"
                #closeDate="ngModel"
                [matDatepicker]="closingDatapicker"
            />
            <mat-datepicker-toggle matSuffix [for]="closingDatapicker"></mat-datepicker-toggle>
            <mat-datepicker #closingDatapicker></mat-datepicker>
            <mat-error *ngIf="errorMsgVisible(closeDate) && closeDate.hasError('required')">Podaj datę zakończenia stada</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                required
                type="number"
                name="remainingFodder"
                placeholder="Pozostała ilość paszy w zbiorniku"
                [ngModel]="(model | async)?.remainingFodder"
                #remainingFodder="ngModel"
            />
            <span matSuffix>kg</span>
            <mat-error *ngIf="errorMsgVisible(remainingFodder) && remainingFodder.hasError('required')">Podaj wagę paszy pozostałeś w zbiorniku</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                required
                disabled
                type="number"
                name="lostFlocks"
                placeholder="Utracona ilość sztuk drobiu"
                [ngModel]="(model | async)?.lostFlocks"
                #lostFlocks="ngModel"
            />
            <span matSuffix>szt</span>
            <mat-error *ngIf="errorMsgVisible(lostFlocks) && lostFlocks.hasError('required')">Podaj utraconą ilość sztuk drobiu</mat-error>
        </mat-form-field>

        <div class="form__action-bar">
            <button mat-button (click)="onCancel()" type="button">Anuluj</button>
            <button mat-raised-button color="accent" type="submit" [disabled]="(model | async)?.closeDate">Zapisz</button>
        </div>

    </form>

</mat-card>

<mat-card class="mat-elevation-z0 mat-card--list" *ngIf="(model | async)?.closeDate">

    <mat-card-title>Reaktywacja stada</mat-card-title>

    <mat-card-content>
        <p>Aby odblokować możliwość dokonywania zmian w stadzie naleźy reaktywować stado.</p>
        <div class="form__action-bar">
            <button mat-raised-button color="primary" (click)="reactivateCurrentFlock()">Reaktywuj stado</button>
        </div>
    </mat-card-content>

</mat-card>

<mat-card class="mat-elevation-z0 mat-card--list">

    <mat-card-title>Usunięcie stada</mat-card-title>

    <mat-card-content>
        <p>Opcja pozwala na trwałe usunięcie stada oraz wszystkich informacji z nim związanych.</p>
        <div class="form__action-bar">
            <button mat-raised-button color="primary" (click)="deleteCurrentFlock()">Usuń stado</button>
        </div>
    </mat-card-content>

</mat-card>