<!--<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>

    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link" routerLinkActive="active" routerLink="/farm">Ferma</a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link" routerLinkActive="active" routerLink="/calendar">Kalendarz</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/settings"><i class="icon-settings"></i></a>
        </li>
    </ul>
</header>-->


<router-outlet></router-outlet>
