<header class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-lg-up" type="button" mobile-nav-toggle>&#9776;</button>
        <a class="navbar-brand" href="#">PoultryManager</a>
        <ul class="nav navbar-nav hidden-md-down">
            <li class="nav-item">
                <a class="nav-link navbar-toggler sidebar-toggle" href="#">&#9776;</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" routerLinkActive="active" routerLink="/farm">Ferma</a>
            </li>
            <li class="nav-item px-1">
                <a class="nav-link" routerLinkActive="active" routerLink="/calendar">Kalendarz</a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-xs-right hidden-md-down">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/settings"><i class="icon-settings"></i></a>
            </li>
        </ul>
    </div>
</header>

<router-outlet></router-outlet>
