@import 'src/styles/variables';

.sidebar-layout {
    display: flex;
    height: 100%;
}

.sidebar-layout__sidebar {
    width: 22rem;
    background-color: mat-color($primary);
}

.sidebar-layout__main {
    flex: 1;
    overflow-y: scroll;
    padding: 6rem 7.5rem;
}