<div class="sidebar-layout">

    <div class="sidebar-layout__sidebar">

        <div class="sidebar-layout__logo">
            <span>Asystent Producenta Drobiu</span>
        </div>

        <div class="sidebar-layout__menu">
            <span>Menu</span>
        </div>

        <div class="sidebar-layout__settings">
            <button class="sidebar-layout__settings-button" mat-button>
                <mat-icon>settings</mat-icon>
                <span>Ustawienia</span>
            </button>
        </div>

    </div>

    <div class="sidebar-layout__main">
        <router-outlet></router-outlet>
    </div>

</div>


