.sidebar-layout {
    display: flex;
    height: 100%;
}

.sidebar-layout__sidebar {
    width: 22rem;
    // background-color: mat-color($primary);
    background-color: #675682;
    // color: mat-color($fontColor);
    color: #FEC0F1;
}

.sidebar-layout__main {
    flex: 1;
}