<!-- TODO convert to material design -->
<h3 *ngIf="(hasItems | async) === false" class="text-xs-center">
    W danym stadzie nie przeprowadzono jeszcze zabiegów profilaktycznych lub leczenia.
</h3>

<mat-card class="mat-elevation-z0" *ngIf="hasItems | async">

    <cdk-table #table [dataSource]="items | async">

        <ng-container cdkColumnDef="date">
            <cdk-header-cell *cdkHeaderCellDef>Data</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.date | date:'dd/MM/yy' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="type">
            <cdk-header-cell *cdkHeaderCellDef>Typ</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.typeName }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="description">
            <cdk-header-cell *cdkHeaderCellDef>Opis</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.description }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="cost">
            <cdk-header-cell *cdkHeaderCellDef>Koszt</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.cost | number:'1.2-2' }} zł</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">
                <span class="table__row-action">
                    <a mat-button [routerLink]="item.id">Edytuj</a>
                    <a mat-button (click)="showDeleteDialog(item.id)">Usuń</a>
                </span>
            </cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>

    </cdk-table>

</mat-card>

<div class="table__action-bar">
    <a routerLink="add" mat-raised-button color="accent" type="text">Dodaj wpis</a>
</div>
