<mat-card class="mat-elevation-z0">

    <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">

        <mat-form-field>
            <input
                matInput
                required
                name="date"
                placeholder="Data wstawienia"
                [ngModel]="(model | async)?.date"
                #date="ngModel"
                [matDatepicker]="insertionDatapicker"
                [matDatepickerFilter]="insertionDatepickerFilter"
            />
            <mat-datepicker-toggle matSuffix [for]="insertionDatapicker"></mat-datepicker-toggle>
            <mat-datepicker #insertionDatapicker></mat-datepicker>
            <mat-error *ngIf="errorMsgVisible(date) && date.hasError('required')">Podaj liczbę piskląt</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                size="16"
                type="number"
                name="quantity"
                required
                maxlength=10
                placeholder="Liczba piskląt"
                #quantity="ngModel"
                [ngModel]="(model | async)?.quantity"
            />
            <span matSuffix>szt</span>
            <mat-error *ngIf="errorMsgVisible(quantity) && quantity.hasError('required')">Podaj liczbę piskląt</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="number"
                name="price"
                required
                maxlength=10
                placeholder="Cena za pisklę"
                #price="ngModel"
                [ngModel]="(model | async)?.price"
            />
            <span matSuffix>zł</span>
            <mat-error *ngIf="errorMsgVisible(price) && price.hasError('required')">Podaj cenę</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="text"
                name="provider"
                placeholder="Wylęgania"
                #provider="ngModel"
                [ngModel]="(model | async)?.provider"
            />
        </mat-form-field>

        <div class="form__action-bar">
            <div class="summary">
                <div class="summary__value">{{ ((price.value * quantity.value) || 0) | number:'1.0-0' }} zł</div>
                <div class="summary__label">Łączna wartość</div>
            </div>
        </div>

        <div class="form__action-bar">
            <button mat-button (click)="onCancel()" type="button">Anuluj</button>
            <button mat-raised-button color="accent" type="submit">Zapisz</button>
        </div>

    </form>

</mat-card>
