.flock__layout {
    min-width: 90rem;
}

.flock__title-bar-link {
    color: #67AECA;
    font-size: 1.2rem;
    line-height: inherit;
    vertical-align: middle;
    padding-left: 1.5rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}