<ul class="sidebar-menu">

    <li class="sidebar-menu__heading" *ngIf="(activeFlocks | async)?.length > 0">
        Aktywne stada
    </li>
    <li *ngFor="let flock of (activeFlocks | async)" class="sidebar-menu__item">
        <a class="sidebar-menu__link" routerLinkActive="active" [routerLink]="['/flock', flock.id]">{{ flock.name }}</a>
    </li>
    <li class="sidebar-menu__heading">
        <a class="sidebar-menu__buttton" routerLink="/farm/add-flock">
            <mat-icon class="sidebar-menu__button-icon">add</mat-icon>
            <span>Dodaj stado</span>
        </a>
    </li>

    <li class="sidebar-menu__heading" *ngIf="(closedFlocks | async)?.length > 0">
        Rozwiązane stada
    </li>
    <li *ngFor="let flock of (closedFlocks | async)" class="sidebar-menu__item">
        <a class="sidebar-menu__link" routerLinkActive="active" [routerLink]="['/flock', flock.id]">{{ flock.name }}</a>
    </li>
    <li class="sidebar-menu__item" *ngIf="(closedFlocks | async)?.length > 6">
        <a class="sidebar-menu__link" routerLinkActive="active" routerLink="flock/history">Więcej +</a>
    </li>
</ul>