@import '../../styles/variables';

.sidebar-menu {
    padding: 0 3rem;
}

.sidebar-menu__heading {
    list-style: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    padding: 2.4rem 0;
}

.sidebar-menu__item {
    list-style: none;
    padding-bottom: 1rem;
}

.sidebar-menu__link {
    text-decoration: none;
    color: #FEC0F1;
    transition: color 300ms;
    position: relative;

    &:hover {
        color: #fff;
    }


    &.active  {
        color: #fff;

        &::after  {
            content: '';
            position: absolute;
            background-color: #fff;
            width: 2rem;
            height: 2rem;
            display: block;
            border-radius: 1rem;
            top: -0.2rem;
            left: -4rem;
        }
    }
}

.sidebar-menu__buttton {
    background-color: #EBCCE5;
    color: map-get($primary, 600);
    padding: 0.8rem 5rem 0.8rem 0.6rem;
    border-radius: 1.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: none;
    transition: background-color 0.5s;

    &:hover {
        background-color: darken(#EBCCE5, 5%);
    }
}

.sidebar-menu__button-icon {
    font-size: 1.8rem;
    vertical-align: middle;
    margin-top: -0.2rem;
    width: auto;
    height: auto;
    font-weight: bold;
}