<table class="table table-hover table-outline m-b-0 hidden-sm-down">
    <thead class="thead-default">
        <tr>
            <th class="text-xs-center">Dzień</th>
            <th class="text-xs-center">Data</th>
            <th class="text-xs-right">Waga jednostkowa</th>
            <th class="text-xs-right">Norma</th>
            <th class="text-xs-right">Odch. od normy</th>
        </tr>
    </thead>
    <tbody>

        <template ngFor let-item [ngForOf]="items" [ngForTrackBy]="item?.day">

            <tr>
                <td class="text-xs-center">
                    <span>{{ item.day }}</span>
                </td>
                <td class="text-xs-center">
                    <span>{{ item.date | date:'dd/MM/yy' }}</span>
                </td>
                <td class="text-xs-right">
                    <form #form="ngForm"  (ngSubmit)="onItemChange(form)">
                        <input name="id" [ngModel]="item.weight.id" type="hidden">
                        <input name="flock" [ngModel]="item.weight.flock" type="hidden">
                        <input name="date" [ngModel]="item.weight.date" type="hidden">
                        <input name="value" [ngModel]="item.weight.value" type="number" (blur)="form.ngSubmit.emit()" placeholder="-">
                    </form>
                </td>
                <td class="text-xs-right">
                    <span>{{ item.marketWeight | number:'1.3-3' }} kg</span>
                </td>
                <td class="text-xs-right">
                    <span>{{ (item.weight.value) ? ((item.weight.value - item.marketWeight) | number:'1.3-3') : '-' }}</span>
                </td>
            </tr>

            <!--TODO add summary-->

        </template>

    </tbody>
</table>


