.title-bar {
    display: flex;
    padding: 0rem 0rem 4rem 0rem;
}

.title-bar__heading {
    flex: 1;
    font-size: 3.6rem;
    line-height: 3.6rem;
}

.title-bar__days {
    font-size: 1.8rem;
    align-self: flex-end;
    line-height: 2.4rem;
}

.title-bar__days-icon {
    font-size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    color: #675682;
    vertical-align: middle;
    margin-top: -0.4rem;
}