<ul class="flock-menu">
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="./">
            Start
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link">
            Pogłowie TODO
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="./insert">
            Wstawienia
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="./decease">
            Upadki
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="sales">
            Sprzedaż
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="closing">
            Zakończ hodowlę
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="nutrition">
            Żywienie
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="health">
            Leczenie i dodatki
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="fodder">
            Zakupy paszy
        </a>
    </li>
    <li class="flock-menu__item">
        <a class="flock-menu__link" routerLink="weight">
            Waga
        </a>
    </li>
</ul>