@import '../../../styles/variables';

.flock-menu {
    padding: 0rem;
    margin: 0 0 2rem 0;
    display: flex;
    justify-content: space-between;
}

.flock-menu__item {
    list-style: none;

    &.active {
        border-bottom: 1px solid mat-color($accent);
    }
}

.flock-menu__link {
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
}
