<ul class="flock-menu">
    <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="./overview">
            Informacje ogólne
        </a>
    </li>
    <!-- <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="./todo">
            Pogłowie TODO
        </a>
    </li> -->
    <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="./insert">
            Wstawienia
        </a>
    </li>
    <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="nutrition">
            Żywienie
        </a>
    </li>
    <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="./decease">
            Upadki
        </a>
    </li>
    <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="weight">
            Waga
        </a>
    </li>
    <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="health">
            Leczenie i dodatki
        </a>
    </li>
    <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="sales">
            Sprzedaż
        </a>
    </li>
    <li class="flock-menu__item" routerLinkActive="active">
        <a class="flock-menu__link" routerLink="closing">
            Koniec hodowli
        </a>
    </li>
</ul>