<app-title-bar heading="Ferma"></app-title-bar>

<mat-card class="mat-elevation-z0">

  <mat-card-title>Aktywne stada</mat-card-title>

  <div class="overview" *ngFor="let flock of activeFlocks | async">

    <div class="overview__column">
      <div class="overview__title">{{ flock.name }}</div>
      <p class="overview__subtitle">{{ flock.type }}</p>
      <span class="overview__pill">20/56</span>
    </div>

    <div class="overview__column">
      <div class="semaphore">
        <div class="semaphore__circle">
          <div class="semaphore__value">< 1000 kg</div>
        </div>
        <div class="semaphore__label">PASZA</div>
      </div>
    </div>

    <div class="overview__column">
      <div class="semaphore">
        <div class="semaphore__circle">
          <div class="semaphore__value">0,110 kg</div>
        </div>
        <div class="semaphore__label">WAGA</div>
      </div>
    </div>

    <div class="overview__column">
      <div class="semaphore">
        <div class="semaphore__circle">
          <div class="semaphore__value">0,3 %</div>
        </div>
        <div class="semaphore__label">UPADKI</div>
      </div>
    </div>

    <div class="overview__column">
      <div class="semaphore">
        <div class="semaphore__circle">
          <div class="semaphore__value">1 kg/m</div>
        </div>
        <div class="semaphore__label">OBSADA</div>
      </div>
    </div>

  </div>

</mat-card>

<mat-card class="mat-elevation-z0">
  <mat-card-title>Rozwiązane stada</mat-card-title>

  <div *ngFor="let flock of closedFlocks | async">
    {{ flock | json }}
  </div>

</mat-card>