<app-title-bar heading="Ferma" *ngIf="(allFlocks | async)?.length > 0"></app-title-bar>

<ng-container *ngIf="(allFlocks | async)?.length === 0">
    <app-title-bar heading="Asystent Producenta Drobiu"></app-title-bar>
    <h3>
        <mat-icon class="overview__inline-icon">arrow_back</mat-icon>
        <span>Rozpocznij pracę zakładając pierwsze stado.</span>
    </h3>
</ng-container>

<mat-card class="mat-elevation-z0 mat-card--list" *ngIf="(activeFlocks | async)?.length > 0">

    <mat-card-title>Aktywne stada</mat-card-title>

    <app-active-flock-overview [flockID]="flock.id" *ngFor="let flock of activeFlocks | async"></app-active-flock-overview>

</mat-card>

<mat-card class="mat-elevation-z0 mat-card--list" *ngIf="(closedFlocks | async)?.length > 0">

    <mat-card-title>Rozwiązane stada</mat-card-title>

    <cdk-table #table [dataSource]="closedFlocksTable | async">

        <ng-container cdkColumnDef="name">
            <cdk-header-cell *cdkHeaderCellDef>Nazwa stada</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">
                <a [routerLink]="['/', 'flock', item.id]">
                    {{ item.name }}
                </a>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="eww">
            <cdk-header-cell *cdkHeaderCellDef>EWW</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.analytics.eww | number:'1.0-0' | zeroDash }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="fcr">
            <cdk-header-cell *cdkHeaderCellDef>FCR</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.analytics.fcr | number:'1.2-2' | zeroDash }}</cdk-cell>
        </ng-container>


        <ng-container cdkColumnDef="deceaseRate">
            <cdk-header-cell *cdkHeaderCellDef>Wskaźnik updaków</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.analytics.deceaseRate * 100 | number:'1.2-2' | zeroDash | unit:'%' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="weight">
            <cdk-header-cell *cdkHeaderCellDef>Śr. waga sprzedaży</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.analytics.weight | number:'1.2-2' | zeroDash | unit:'kg' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="price">
            <cdk-header-cell *cdkHeaderCellDef>Śr. cena sprzedaży</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.analytics.price | number:'1.2-2' | zeroDash | unit:'zł' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="income">
            <cdk-header-cell *cdkHeaderCellDef>Przychód</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.analytics.income | number:'1.2-2' | zeroDash | unit:'zł' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="earnings">
            <cdk-header-cell *cdkHeaderCellDef>Dochód</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.analytics.earnings | number:'1.2-2' | zeroDash | unit:'zł' }}</cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
        <cdk-row *cdkRowDef="let item; columns: displayedColumns;"></cdk-row>

    </cdk-table>

</mat-card>