<!-- TODO convert to material design -->
<h3 *ngIf="(hasItems | async) === false" class="text-xs-center">
    Nie dokonano jeszcze sprzedaż w wybranym stadzie
</h3>

<mat-card class="mat-elevation-z0" *ngIf="hasItems | async">

    <cdk-table #table [dataSource]="items | async">

        <ng-container cdkColumnDef="date">
            <cdk-header-cell *cdkHeaderCellDef>Data</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.date | date:'dd/MM/yy' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="quantity">
            <cdk-header-cell *cdkHeaderCellDef>Ilość</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row">{{ row.quantity | number:'1.0-0' | unit:'szt' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="price">
            <cdk-header-cell *cdkHeaderCellDef>Cena/kg</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row">{{ row.price | number:'1.2-2' | unit:'zł' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="weight">
            <cdk-header-cell *cdkHeaderCellDef>Waga</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row">{{ row.weight | number:'1.0-0' | unit:'kg' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="avgWeight">
                <cdk-header-cell *cdkHeaderCellDef>Średnia waga</cdk-header-cell>
                <cdk-cell *cdkCellDef="let row">{{ (row.quantity / row.weight) | number:'1.2-2' | unit:'kg' }}</cdk-cell>
            </ng-container>

        <ng-container cdkColumnDef="value">
            <cdk-header-cell *cdkHeaderCellDef>Wartość</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row">{{ (row.weight * row.price) | number:'1.2-2' | unit:'zł' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="customer">
            <cdk-header-cell *cdkHeaderCellDef>Ubojnia</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row">{{ row.customer }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="confiscation">
            <cdk-header-cell *cdkHeaderCellDef>Konfiskata</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row">{{ row.confiscation | unit:'szt' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">
                <span class="table__row-action">
                    <a mat-button [routerLink]="item.id">Edytuj</a>
                    <a mat-button (click)="showDeleteDialog(item.id)">Usuń</a>
                </span>
            </cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>

    </cdk-table>


</mat-card>

<div class="table__action-bar">
    <a routerLink="add" mat-raised-button color="accent" type="text">Dodaj wpis</a>
</div>
