$mat-purple-custom: (
  50: #FEC0F1,
  100: #FEC0F1,
  200: #FEC0F1,
  300: #675682,
  400: #675682,
  500: #675682,
  600: #675682,
  700: darken(#675682, 5%),
  800: darken(#675682, 5%),
  900: darken(#675682, 5%),
  A100: #675682,
  A200: #675682,
  A400: #675682,
  A700: #675682,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);