@import 'variables';

$general-typography: mat-typography-config(
  $font-family: "'Fira Sans', 'Roboto', 'Helvetica Neue', 'sans-serif'",
  $body-2:        mat-typography-level(14px, 24px, 600)
);

@include mat-core($general-typography);

@include angular-material-theme($theme);

.mat-app-background {
  background-color: #f1f1f1;
}