<ul class="farm-menu">

    <li class="farm-menu__heading">
        Aktywne stada
    </li>
    <li *ngFor="let flock of (activeFlocks | async)" class="farm-menu__item">
        <a class="farm-menu__link" routerLinkActive="active" [routerLink]="['flock', flock.id]">{{ flock.name }}</a>
    </li>
    <li class="farm-menu__heading">
        <button mat-raised-button routerLink="add-flock" color="accent">
            <span>Dodaj stado</span>
            <mat-icon>add</mat-icon>
        </button>
    </li>

    <li class="farm-menu__heading">
        Rozwiązane stada
    </li>
    <li *ngFor="let flock of (closedFlocks | async)" class="farm-menu__item">
        <a class="farm-menu__link" routerLinkActive="active" [routerLink]="['flock', flock.id]">{{ flock.name }}</a>
    </li>
    <li class="farm-menu__item">
        <a class="farm-menu__link" routerLinkActive="active" routerLink="flock/history">Więcej +</a>
    </li>
    <li class="farm-menu__item">
        <a class="farm-menu__link" routerLinkActive="active" routerLink="/settings"><i class="icon-settings"></i></a>
    </li>
</ul>