<div class="overview">

    <div class="overview__column">

        <a class="summary" routerLink="../info">
            <div class="summary__value">{{ flockType | async }}</div>
            <span class="summary__label">Typ drobiu</span>
        </a>

        <a class="summary" routerLink="../info">
            <div class="summary__value">{{ currentQuantity | async | number:'1.0-0' }}</div>
            <span class="summary__label">Liczba sztuk</span>
        </a>

        <a class="summary" routerLink="../info">
            <div class="summary__value">{{ currentDensity | async | number:'1.0-0'}} kg/m<sup>2</sup></div>
            <span class="summary__label">Obsada</span>
        </a>

        <a class="summary" routerLink="../info">
            <div class="summary__value">{{ coopSize | async }} m<sup>2</sup></div>
            <span class="summary__label">Powierzchnia kurnika</span>
        </a>

        <a class="summary" routerLink="../info">
            <div class="summary__value">{{ coopName | async }}</div>
            <span class="summary__label">Nazwa kurnika</span>
        </a>

        <a class="summary" routerLink="../info">
            <div class="summary__text">{{ flockDescription | async }}</div>
            <span class="summary__label">Opis stada</span>
        </a>

    </div>

    <div class="overview__column overview__column--middle">

        <mat-card class="mat-elevation-z0 overview__chart">
            <div class="overview__card summary overview__card--float">
                <div class="summary__value">{{ currentWeight | async | number:'1.2-2' | unit:'kg'  }}</div>
                <span class="summary__label">Waga jednostkowa</span>
            </div>
            <div class="overview__chart-wrapper">
                <ngx-charts-line-chart
                    [results]="(weightChart | async)?.results"
                    [scheme]="(weightChart | async)?.colorScheme"
                    xAxis="true"
                    yAxis="true"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>
        </mat-card>

        <mat-card class="mat-elevation-z0 overview__chart">
            <div class="overview__card summary overview__card--float">
                <div class="summary__value">{{ (currentDeceaseRate | async) * 100 | number:'1.2-2' | unit:'%' }}</div>
                <span class="summary__label">Śmiertelność</span>
            </div>
            <div class="overview__chart-wrapper">
                <ngx-charts-line-chart
                    [results]="(deceaseRateChart | async)?.results"
                    [scheme]="(deceaseRateChart | async)?.colorScheme"
                    [yAxisTickFormatting]="(deceaseRateChart | async)?.yAxisFormat"
                    xAxis="true"
                    yAxis="true"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>
        </mat-card>

        <!-- <mat-card class="mat-elevation-z0 overview__chart">
            <div class="overview__card summary overview__card--float">
                <div class="summary__value">{{ currentFodderQuantity | async }} kg</div>
                <span class="summary__label">Stan paszy</span>
            </div>
            <div class="overview__chart-wrapper">
                <ngx-charts-line-chart
                    [results]="(fodderQuantity | async)?.results"
                    [scheme]="(fodderQuantity | async)?.colorScheme"
                    [yAxisTickFormatting]="(fodderQuantity | async)?.yAxisFormat"
                    xAxis="true"
                    yAxis="true"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>
        </mat-card> -->

    </div>

    <!-- <div class="overview__column">
        <flock-calendar flockId=""></flock-calendar>
    </div> -->

</div>
