@import 'src/styles/variables';

$card-background: mat-color(map-get($theme, background), card);

.overview {
    display: flex;
}

.overview__column {
    flex: 2;
    padding-top: 3rem;
}

.overview__column--middle {
    flex: 6;
    margin-left: 1rem;
    padding-top: 0rem;
}

.overview__card {
    background-color: $card-background;
}

.overview__card--float {
    position: absolute;
    top: 4rem;
    left: 9rem;
    background-color: $card-background;
    padding: 0rem 2rem;
}

.overview__chart {
    margin-bottom: 2rem;
}

// .overview__chart-legend { }

.overview__chart-wrapper {
    height: 20rem;
}