<div class="overview">

    <div class="overview__column">

        <a class="overview__card" routerLink="../info">
            <div class="overview__card-value">{{ flockType | async }}</div>
            <span class="overview__card-label">Typ drobiu</span>
        </a>

        <a class="overview__card" routerLink="../info">
            <div class="overview__card-value">{{ currentQuantity | async | number:'1.0-0' }}</div>
            <span class="overview__card-label">Liczba sztuk</span>
        </a>

        <a class="overview__card" routerLink="../info">
            <div class="overview__card-value">{{ currentWeightDensity | async | number:'1.0-0'}} kg/m<sup>2</sup></div>
            <span class="overview__card-label">Obsada</span>
        </a>

        <a class="overview__card" routerLink="../info">
            <div class="overview__card-value">{{ coopSize | async }} m<sup>2</sup></div>
            <span class="overview__card-label">Powierzchnia kurnika</span>
        </a>

        <a class="overview__card" routerLink="../info">
            <div class="overview__card-value">{{ coopName | async }}</div>
            <span class="overview__card-label">Nazwa kurnika</span>
        </a>

        <a class="overview__card" routerLink="../info">
            <div class="overview__card-text">{{ flockDescription | async }}</div>
            <span class="overview__card-label">Opis stada</span>
        </a>

    </div>

    <div class="overview__column overview__column--middle">

        <div class="overview__chart">
            <div class="overview__card overview__card--float">
                <div class="overview__card-value">{{ currentWeight | async | number:'1.2-2' | unit:'kg'  }}</div>
                <span class="overview__card-label">Waga jednostkowa</span>
            </div>
            <div class="overview__chart-wrapper">
                <ngx-charts-line-chart
                    [results]="(weightChart | async)?.results"
                    [scheme]="(weightChart | async)?.colorScheme"
                    xAxis="true"
                    yAxis="true"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>
        </div>

        <div class="overview__chart">
            <div class="overview__card overview__card--float">
                <div class="overview__card-value">{{ (currentDeceaseRate | async) * 100 | number:'1.2-2' | unit:'%' }}</div>
                <span class="overview__card-label">Śmiertelność</span>
            </div>
            <div class="overview__chart-wrapper">
                <ngx-charts-line-chart
                    [results]="(deceaseRateChart | async)?.results"
                    [scheme]="(deceaseRateChart | async)?.colorScheme"
                    [yAxisTickFormatting]="(deceaseRateChart | async)?.yAxisFormat"
                    xAxis="true"
                    yAxis="true"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>
        </div>

        <div class="overview__chart">
            <div class="overview__card overview__card--float">
                <div class="overview__card-value">{{ currentFodderQuantity | async }} kg</div>
                <span class="overview__card-label">Stan paszy</span>
            </div>
            <div class="overview__chart-wrapper">
                <ngx-charts-line-chart
                    [results]="(fodderQuantity | async)?.results"
                    [scheme]="(fodderQuantity | async)?.colorScheme"
                    [yAxisTickFormatting]="(fodderQuantity | async)?.yAxisFormat"
                    xAxis="true"
                    yAxis="true"
                    (select)="onSelect($event)">
                </ngx-charts-line-chart>
            </div>
        </div>

    </div>

    <!-- <div class="overview__column">
        <flock-calendar flockId=""></flock-calendar>
    </div> -->

</div>
