<div class="animated fadeIn">

    <div class="row">

        <div class="col-sm-9">

            <div class="row">

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-block p-1 clearfix">
                            <div class="h5 text-primary mb-0 mt-h">{{ flockType }}</div>
                            <div class="text-muted text-uppercase font-weight-bold font-xs">Typ drobiu</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-block p-1 clearfix">
                            <div class="h5 text-primary mb-0 mt-h">{{ currentQuantity | number:'1.0-0' }}</div>
                            <div class="text-muted text-uppercase font-weight-bold font-xs">Liczba sztuk</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-block p-1 clearfix">
                            <div class="h5 text-primary mb-0 mt-h">{{ remainingFodderQuantity | number:'1.0-0' | unit:'kg' }}</div>
                            <div class="text-muted text-uppercase font-weight-bold font-xs">Pozostała ilość paszy</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="card card-inverse card-primary">
                        <div class="card-block pb-0">
                            <h4 class="mb-0">{{ currentDeceaseRate * 100 | number:'1.2-2' | unit:'%' }}</h4>
                            <p>Śmiertelność</p>
                        </div>
                        <div class="chart-wrapper mb-1 px-1" style="height:70px;">
                            <canvas *ngIf="deceaseRateChart"
                                baseChart class="chart"
                                [datasets]="deceaseRateChart.data"
                                [labels]="deceaseRateChart.labels"
                                [options]="deceaseRateChart.options"
                                [colors]="deceaseRateChart.colours"
                                [legend]="deceaseRateChart.legend"
                                [chartType]="deceaseRateChart.type"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card card-inverse card-primary">
                        <div class="card-block pb-0">
                            <h4 class="mb-0">{{ currentWeight | number:'1.2-2' | unit:'kg'  }}</h4>
                            <p>Waga jednostkowa</p>
                        </div>
                        <div class="chart-wrapper mb-1 px-1" style="height:70px;">

                            <canvas *ngIf="weightChart"
                                baseChart class="chart"
                                [datasets]="weightChart.data"
                                [labels]="weightChart.labels"
                                [options]="weightChart.options"
                                [colors]="weightChart.colours"
                                [legend]="weightChart.legend"
                                [chartType]="weightChart.type"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card card-inverse card-primary">
                        <div class="card-block pb-0">
                            <h4 class="mb-0">9.823</h4>
                            <p>Members online</p>
                        </div>
                        <div class="chart-wrapper" style="height:70px;">

                            <!--<canvas *ngIf="weightChart"
                                baseChart class="chart"
                                [datasets]="weightChart.data"
                                [labels]="weightChart.labels"
                                [options]="weightChart.options"
                                [colors]="weightChart.colours"
                                [legend]="weightChart.legend"
                                [chartType]="weightChart.type"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>-->

                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="card card-inverse card-primary">
                        <div class="card-block pb-0">
                            <h4 class="mb-0">9.823</h4>
                            <p>Members online</p>
                        </div>
                        <div class="chart-wrapper px-1" style="height:70px;">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card card-inverse card-primary">
                        <div class="card-block pb-0">
                            <h4 class="mb-0">9.823</h4>
                            <p>Members online</p>
                        </div>
                        <div class="chart-wrapper px-1" style="height:70px;"></div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card card-inverse card-primary">
                        <div class="card-block pb-0">
                            <h4 class="mb-0">9.823</h4>
                            <p>Members online</p>
                        </div>
                        <div class="chart-wrapper px-1" style="height:70px;"></div>
                    </div>

                </div>

            </div>


        </div>

        <div class="col-sm-3">
            <!--<flock-calendar flockId=""></flock-calendar>-->
        </div>

    </div>

</div>