<mat-card class="mat-elevation-z0">

    <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">

        <mat-form-field>
            <!-- TODO today should be preselected -->
            <input
                matInput
                required
                name="date"
                placeholder="Data sprzedaży"
                [ngModel]="(model | async)?.date"
                #date="ngModel"
                [matDatepicker]="saleDatapicker"
            />
            <mat-datepicker-toggle matSuffix [for]="saleDatapicker"></mat-datepicker-toggle>
            <mat-datepicker #saleDatapicker></mat-datepicker>
            <mat-error *ngIf="errorMsgVisible(date) && date.hasError('required')">Podaj datę sprzedaży</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                required
                name="quantity"
                type="number"
                placeholder="Liczba sztuk"
                [ngModel]="(model | async)?.quantity"
                #quantity="ngModel"
            />
            <span matSuffix>szt</span>
            <mat-error *ngIf="errorMsgVisible(quantity) && quantity.hasError('required')">Podaj liczbę sprzedanych sztuk</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                required
                name="price"
                type="number"
                placeholder="Cena za kilogram"
                [ngModel]="(model | async)?.price"
                #price="ngModel"
            />
            <span matSuffix>zł</span>
            <mat-error *ngIf="errorMsgVisible(price) && price.hasError('required')">Podaj cenę za kilogram</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                required
                name="weight"
                type="number"
                placeholder="Łączna waga"
                [ngModel]="(model | async)?.weight"
                #weight="ngModel"
            />
            <span matSuffix>kg</span>
            <mat-error *ngIf="errorMsgVisible(weight) && weight.hasError('required')">Podaj łączną wagę sprzedanych sztuk</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                name="customer"
                type="text"
                placeholder="Ubojnia"
                [ngModel]="(model | async)?.customer"
                #customer="ngModel"
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                name="confiscation"
                type="text"
                placeholder="Konfiskata"
                [ngModel]="(model | async)?.confiscation"
                #confiscation="ngModel"
            />
            <span matSuffix>szt</span>
        </mat-form-field>

        <div class="form__action-bar">
            <div class="summary summary--sideBySide">
                <div class="summary__value">{{ ((weight.value / quantity.value) || 0) | number:'1.2-2' }} kg</div>
                <div class="summary__label">Średnia waga</div>
            </div>

            <div class="summary summary--sideBySide">
                <div class="summary__value">{{ ((price.value * weight.value) || 0) | number:'1.0-0' }} zł</div>
                <div class="summary__label">Wartość sprzedaży</div>
            </div>
        </div>

        <div class="form__action-bar">
            <button mat-button (click)="onCancel()" type="button">Anuluj</button>
            <button mat-raised-button color="accent" type="submit">Zapisz</button>
        </div>

    </form>

</mat-card>