@import '../../styles/variables';

$foreground: map-get($theme, foreground);

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar__logo {
    color: mat-contrast($primary, 600);
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 2.5rem 5rem 2.5rem 2.4rem;
    border-bottom: 1px solid rgba(0,0,0, 0.4);
    text-decoration: none;
    transition: background-color 300ms;
    white-space: normal;
    text-align: left;

    &:hover {
        background-color: map-get($primary, 700);
    }
}

.sidebar__menu {
    flex: 1;
    border-bottom: 1px solid rgba(0,0,0, 0.4);
}

.sidebar__settings-button {
    color: map-get($primary, 100);
    width: 100%;
    font-size: 1.3rem;
}

.sidebar__settings-button-icon {
    font-size: 1.3rem;
    height: 1.3rem;
    width: 1.3rem;
}
