<div class="active-flock-overview__column">
    <div class="active-flock-overview__title">{{ name | async }}</div>
    <p class="active-flock-overview__subtitle">{{ typeName | async }}</p>
    <span class="active-flock-overview__pill">{{ currentDay | async }}/{{ breedingPeriod | async }}</span>
</div>

<div class="active-flock-overview__column">
    <div class="semaphore">
    <div class="semaphore__circle">
        <div class="semaphore__value">b/d</div>
    </div>
    <div class="semaphore__label">PASZA</div>
    </div>
</div>

<div class="active-flock-overview__column">
    <div class="semaphore">
    <div class="semaphore__circle">
        <div class="semaphore__value">b/d</div>
    </div>
    <div class="semaphore__label">WAGA</div>
    </div>
</div>

<div class="active-flock-overview__column">
    <div class="semaphore">
    <div class="semaphore__circle">
        <div class="semaphore__value">b/d</div>
    </div>
    <div class="semaphore__label">UPADKI</div>
    </div>
</div>

<div class="active-flock-overview__column">
    <div class="semaphore">
    <div class="semaphore__circle">
        <div class="semaphore__value">b/d</div>
    </div>
    <div class="semaphore__label">OBSADA</div>
    </div>
</div>