.summary {
    text-decoration: none;
    padding-bottom: 3rem;
    display: block;
}

.summary__value {
    color: #5F0F4E;
    font-size: 2.4rem;
    line-height: 4rem;
    white-space: nowrap;
}

.summary__text {
    font-size: 1.2rem;
    line-height: 2rem;
    color: lighten(#4A4A4A, 20%);
    padding-bottom: 1rem;
}

.summary__label {
    text-transform: uppercase;
    color: #4A4A4A
}