<mat-card class="mat-elevation-z0">

    <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">

        <mat-form-field>
            <input
                matInput
                required
                name="date"
                placeholder="Data przeprowadzenia zabiegu"
                [ngModel]="(model | async)?.date"
                #date="ngModel"
                [matDatepicker]="treatmentDatapicker"
            />
            <mat-datepicker-toggle matSuffix [for]="treatmentDatapicker"></mat-datepicker-toggle>
            <mat-datepicker #treatmentDatapicker></mat-datepicker>
            <mat-error *ngIf="errorMsgVisible(date) && date.hasError('required')">Podaj datę przeprowadzonego zabiegu</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                size="16"
                type="text"
                name="type"
                required
                placeholder="Rodzaj zabiegu"
                #type="ngModel"
                [ngModel]="(model | async)?.type"
            />
            <mat-error *ngIf="errorMsgVisible(type) && type.hasError('required')">Podaj rodzaj zabiegu</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="text"
                name="description"
                placeholder="Opis (opcjonale)"
                #description="ngModel"
                [ngModel]="(model | async)?.description"
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                size="16"
                type="number"
                name="cost"
                required
                maxlength=10
                placeholder="Koszt zabiegu"
                #cost="ngModel"
                [ngModel]="(model | async)?.cost"
            />
            <span matSuffix>zł</span>
            <mat-error *ngIf="errorMsgVisible(cost) && cost.hasError('required')">Podaj koszt zabiegu</mat-error>
        </mat-form-field>

        <div class="form__action-bar">
            <button mat-button (click)="onCancel()" type="button">Anuluj</button>
            <button mat-raised-button color="accent" type="submit">Zapisz</button>
        </div>

    </form>

</mat-card>
