
<mat-card class="mat-elevation-z0">

    <mat-card-title>Informacje o stadzie</mat-card-title>

    <p *ngIf="form.invalid && submitted" class="alert alert-danger">Form invalid</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <mat-form-field>
            <mat-select placeholder="Rodzaj drobiu" [formControl]="form.controls.type">
                <mat-option *ngFor="let type of flockTypes" [value]="type.id">
                    {{ type.name }}
                </mat-option>
            </mat-select>
            <mat-hint *ngIf="form.controls.type.value">Przewidywana długość okresu howu wynosi {{ selectedFlockType?.breedingPeriod }} dni</mat-hint>
            <mat-error *ngIf="form.controls.type.hasError('required') && form.controls.type.dirty">Wybierz rodzaj drobiu</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                size="16"
                type="number"
                placeholder="Powierzchnia kurnika"
                [formControl]="form.controls.coopSize"
            />
            <span matSuffix>m<sup>2</sup></span>
            <mat-error *ngIf="form.controls.coopSize.hasError('required') && form.controls.coopSize.dirty">Podaj powierzchnię</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="text"
                placeholder="Nazwa / numer objektu (opcjonalne)"
                [formControl]="form.controls.coopName"
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                type="text"
                placeholder="Nazwa stada"
                [formControl]="form.controls.name"
            />
            <mat-error *ngIf="form.controls.name.hasError('required') && form.controls.name.dirty">Podaj nazwę stada</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea
                matInput
                type="text"
                placeholder="Opis (opcjonalne)"
                [formControl]="form.controls.description"
            ></textarea>
        </mat-form-field>

        <div class="form__action-bar">
            <button mat-button (click)="onCancel()" type="button">Anuluj</button>
            <button mat-raised-button color="accent" type="submit">Zapisz</button>
        </div>

    </form>

</mat-card>