<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-6 offset-md-3">

            <p *ngIf="form.invalid && submitted" class="alert alert-danger">Form invalid</p>


            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

                <div class="form-group" [ngClass]="{'has-danger': errorMsgVisible('type')}">
                    <label class="form-control-label" for="type">Rodzaj drobiu</label>
                    <select id="type"
                        class="form-control"
                        [formControl]="form.controls.type">
                        <option value="">Wybierz rodzaj drobiu</option>
                        <option *ngFor="let type of flockTypes" [value]="type.id">{{type.name}}</option>
                    </select>
                    <span class="help-block" *ngIf="form.controls.type.hasError('required') && form.controls.type.dirty">Podaj rodzaj drobiu</span>
                    <span *ngIf="form.controls.type.value">Długość okresu howu: {{ selectedFlockType?.breedingPeriod }}</span>
                </div>



                <div class="form-group" [ngClass]="{'has-danger': errorMsgVisible('coopSize')}">
                    <label class="form-control-label" for="area">Powierzchnia kurnika</label>
                    <div class="controls">
                        <div class="input-group">
                            <input id="area"
                                class="form-control"
                                size="16"
                                type="number"
                                [formControl]="form.controls.coopSize">
                            <span class="input-group-addon">m<sup>2</sup></span>
                        </div>
                        <span class="help-block" *ngIf="form.controls.coopSize.hasError('required') && form.controls.coopSize.dirty">Podaj powierzchnię</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="coop">Nazwa / numer objektu (opcjonalne)</label>
                    <input id="coop"
                        class="form-control"
                        type="text"
                        [formControl]="form.controls.coopName">
                </div>

                <div class="form-group" [ngClass]="{'has-danger': errorMsgVisible('name')}">
                    <label class="form-control-label" for="name">Nazwa stada</label>
                    <input id="name"
                        class="form-control"
                        type="text"
                        [formControl]="form.controls.name">
                    <span class="help-block" *ngIf="form.controls.name.hasError('required') && form.controls.name.dirty">Podaj nazwę stada</span>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="description">Opis (opcjonalne)</label>
                    <textarea id="description"
                        class="form-control"
                        [formControl]="form.controls.description"></textarea>
                </div>

                <div class="nav pull-right">
                    <a (click)="onCancel()" class="btn btn-link">Anuluj</a>
                    <button class="btn btn-success" type="submit">Zapisz</button>
                </div>

            </form>

        </div>
    </div>

</div>
