<ng-container *ngIf="(hasInserts | async) === false">
    <h3 class="text-xs-center">
        Aby wyświetlić listę upadków nalezy dodać przynajmniej jedno wstawienie.
    </h3>
    <a routerLink="../../insert/add" mat-raised-button color="accent">Dodaj wstawienie</a>
</ng-container>

<mat-card class="mat-elevation-z0" *ngIf="hasInserts | async">

    <cdk-table #table [dataSource]="items | async">

        <ng-container cdkColumnDef="day">
            <cdk-header-cell *cdkHeaderCellDef>Dzień</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.day }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="date">
            <cdk-header-cell *cdkHeaderCellDef>Data</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.date | date:'dd/MM/yyyy' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="decease">
            <cdk-header-cell *cdkHeaderCellDef>Upadki dzienne</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">
                <form  #deceaseForm="ngForm" (ngSubmit)="onDeceaseChange(deceaseForm)">
                    <input name="id" [ngModel]="item.deceaseId" type="hidden">
                    <input name="date" [ngModel]="item.date" type="hidden">
                    <mat-form-field class="mat-form-field--in-table">
                        <input matInput name="value" [ngModel]="item.deceases" type="number" (blur)="deceaseForm.ngSubmit.emit()"/>
                        <span matSuffix>szt</span>
                    </mat-form-field>
                </form>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="deceaseTotal">
            <cdk-header-cell *cdkHeaderCellDef>Upadki narastająco</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.totalDecease | number:'1.0-0' }} szt</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="deceaseRate">
            <cdk-header-cell *cdkHeaderCellDef>Wstaźnik upadków</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.deceaseRate | percent:'1.2-2' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="marketDeceaseRate">
            <cdk-header-cell *cdkHeaderCellDef>Norma</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.marketDeceaseRate | percent:'1.2-2' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="flockQuantity">
            <cdk-header-cell *cdkHeaderCellDef>Stan stada</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.quantity.total | number:'1.0-0' }} szt</cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
        <cdk-row *cdkRowDef="let item; columns: displayedColumns;"></cdk-row>
        <!-- <cdk-row class="table__row--week" *cdkRowDef="let item; columns: displayedColumns; when: isLastWeekDay"></cdk-row> -->

    </cdk-table>

</mat-card>
