<nav *ngIf="!hasInserts" class="row">
    <h3 class="text-xs-center">
        Aby wyświetlić prognozowaną listę upadków nalezy dodać przynajmniej jedno wstawienie.
    </h3>
    <ul class="nav text-xs-center">
        <li class="nav-item">
            <a routerLink="../insert" class="btn btn-primary" type="text">Dodaj wstawienie</a>
        </li>
    </ul>
</nav>

<table *ngIf="hasInserts" class="table table-hover table-outline m-b-0 hidden-sm-down">
    <thead class="thead-default">
        <tr>
            <th class="text-xs-center" rowspan="2">Dzień</th>
            <th class="text-xs-center" rowspan="2">Data</th>
            <th class="text-xs-right" colspan="2">Upadki dzienne</th>
            <th class="text-xs-right" colspan="2">Upadki narastająco</th>
            <th class="text-xs-right">Norma</th>
            <th class="text-xs-right" rowspan="2">Stan stada</th>
        </tr>
        <tr>
            <th class="text-xs-right">szt</th>
            <th class="text-xs-right">%</th>
            <th class="text-xs-right">szt</th>
            <th class="text-xs-right">%</th>
            <th class="text-xs-right">%</th>
        </tr>

    </thead>
    <tbody>

        <template ngFor let-date [ngForOf]="dates" [ngForTrackBy]="day?.day">

            <tr>
                <td class="text-xs-center">
                    <span>{{ date.day }}</span>
                </td>
                <td class="text-xs-center">
                    <span>{{ date.decease.deceaseDate | date:'dd/MM/yy' }}</span>
                </td>
                <td class="text-xs-right">
                    <form #deceaseForm="ngForm"  (ngSubmit)="onDeceaseChange(deceaseForm)">
                        <input name="id" [ngModel]="date.decease.id" type="hidden">
                        <input name="flock" [ngModel]="date.decease.flock" type="hidden">
                        <input name="deceaseDate" [ngModel]="date.decease.deceaseDate" type="hidden">
                        <input name="quantity" [ngModel]="date.decease.quantity" type="number" (blur)="deceaseForm.ngSubmit.emit()">
                    </form>
                </td>
                <td class="text-xs-right">
                    <span>{{ (date.decease.quantity / date.quantity) | percent:'1.2-2' }}</span>
                </td>
                <td class="text-xs-right">
                    <span>{{ date.deceaseQtyIncremental | number:'1.0-0' }} szt</span>
                </td>
                <td class="text-xs-right">
                    <span>{{ (date.deceaseQtyIncremental / date.quantity) | percent:'1.2-2' }}</span>
                </td>
                <td class="text-xs-right"></td>
                <td class="text-xs-right">
                    <span>{{ date.quantity | number:'1.0-0' }} szt</span>
                </td>
            </tr>

            <tr *ngIf="date.isLastWeekDay">
                <td class="text-xs-center">
                    <span>Tydzień: {{ date.day / 7 }}</span>
                </td>
                <td class="text-xs-right" colspan="3"></td>
                <td class="text-xs-right">
                    <span>{{ date.deceaseQtyIncremental | number:'1.0-0' }} szt</span>
                </td>
                <td class="text-xs-right">
                    <span>{{ (date.deceaseQtyIncremental / date.quantity) | percent:'1.2-2' }}</span>
                </td>
                <td class="text-xs-right">
                    <span>{{ date.deceaseRateMarket | percent:'1.0-2' }}</span>
                </td>
                <td class="text-xs-right">
                    <span>{{ date.quantity | number:'1.0-0' }} szt</span>
                </td>
            </tr>

            <!--TODO add summary-->

        </template>

    </tbody>
</table>


