<form>

    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="form-group">
                <label for="type">Rodzaj drobiu</label>
                <input class="form-control" id="type" type="text">
            </div>

            <div class="form-group">
                <label class="form-control-label" for="area">Powierzchnia kurnika</label>
                <div class="controls">
                    <div class="input-group">
                        <input class="form-control" id="area" size="16" type="text">
                        <span class="input-group-addon">m<sup>2</sup></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="coop">Nazwa / numer objektu</label>
                <input class="form-control" id="coop" type="text">
            </div>

            <div class="form-group">
                <label for="name">Nazwa stada</label>
                <input class="form-control" id="name" type="text">
            </div>

            <div class="nav pull-right">
                <button class="btn btn-link">Anuluj</button>
                <button class="btn btn-success">Zapisz</button>
            </div>

        </div>
    </div>

</form>
