<!-- TODO convert to material design -->
<h3 *ngIf="inserts && inserts.length === 0" class="text-xs-center">
    Wybrane stado nie posiada jeszcze wstawień
</h3>

<mat-card class="mat-elevation-z0">

    <cdk-table #table [dataSource]="insertsDataSource | async">

        <ng-container cdkColumnDef="date">
        <cdk-header-cell *cdkHeaderCellDef>Data wstawienia</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">{{ row.date | date:'dd/MM/yyyy' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="quantity">
        <cdk-header-cell *cdkHeaderCellDef>Ilość</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">{{ row.quantity | number:'1.0-0' | unit:'szt' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="weight">
        <cdk-header-cell *cdkHeaderCellDef>Waga/szt</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">{{ row.weight | number:'1.2-2' | zeroDash | unit:'kg' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="price">
        <cdk-header-cell *cdkHeaderCellDef>Cena/szt</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row">{{ row.price | number:'1.2-2' | unit:'zł' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="value">
            <cdk-header-cell *cdkHeaderCellDef>Wartość</cdk-header-cell>
            <cdk-cell *cdkCellDef="let row">{{ (row.quantity * row.price) | number:'1.2-2' | unit:'zł' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
            <cdk-cell *cdkCellDef="let insert">
                <span class="table__row-action">
                    <a mat-button [routerLink]="insert.id">Edytuj</a>
                    <a mat-button (click)="showDeleteDialog(insert.id)">Usuń</a>
                </span>
            </cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
        <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>
    </cdk-table>

</mat-card>

<div class="table__action-bar">
    <a routerLink="add" mat-raised-button color="accent" type="text">Nowe wstawienie</a>
</div>