<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">

                <div class="form-group" [ngClass]="{'has-danger': errorMsgVisible(ngbCreateDate)}">
                    <!-- TODO today should be preselected -->
                    <label class="form-control-label" for="ngbCreateDate">Data wstawienia</label>
                    <div class="controls">
                        <div class="input-group">
                            <input id="ngbCreateDate"
                                placeholder="yyyy-mm-dd"
                                class="form-control"
                                name="ngbCreateDate"
                                required
                                [ngModel]="model.ngbCreateDate"
                                #ngbCreateDate="ngModel"
                                ngbDatepicker #ngbCreateDatePicker="ngbDatepicker">
                            <span class="input-group-addon" (click)="ngbCreateDatePicker.toggle()">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>
                        <span *ngIf="errorMsgVisible(ngbCreateDate)">
                            <span *ngIf="ngbCreateDate.hasError('required')">Podaj datę wstawienia</span>
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': errorMsgVisible(quantity)}">
                    <label class="form-control-label" for="quantity">Liczba piskląt</label>
                    <div class="controls">
                        <div class="input-group">
                            <input id="quantity"
                                class="form-control"
                                type="number"
                                name="quantity"
                                required
                                maxlength=10
                                #quantity="ngModel"
                                [ngModel]="model.quantity">
                            <span class="input-group-addon">szt</span>
                        </div>
                        <span *ngIf="errorMsgVisible(quantity)">
                            <span *ngIf="quantity.hasError('required')">Podaj liczbę piskląt</span>
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-danger': errorMsgVisible(price)}">
                    <label class="form-control-label" for="price">Cena za pisklę</label>
                    <div class="controls">
                        <div class="input-group">
                            <input id="price"
                                class="form-control"
                                type="text"
                                name="price"
                                required
                                maxlength=10
                                #price="ngModel"
                                [ngModel]="model.price">
                            <span class="input-group-addon">zł</span>
                        </div>
                        <span *ngIf="errorMsgVisible(price)">
                            <span class="help-block" *ngIf="price.hasError('required')">Podaj cenę</span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="value">Łączna wartość</label>
                    <div class="controls">
                        <div class="input-group">
                            <input
                                class="form-control"
                                type="text"
                                readonly
                                value="{{ price.value * quantity.value }}">
                            <span class="input-group-addon">zł</span>
                        </div>
                    </div>
                </div>

                <div class="nav pull-right">
                    <a (click)="onCancel()" class="btn btn-link">Anuluj</a>
                    <button class="btn btn-success" type="submit">Zapisz</button>
                </div>

            </form>

        </div>
    </div>

</div>
