<ng-container *ngIf="(hasInserts | async) === false">
    <h3 class="text-xs-center">
        Aby wyświetlić prognozowane dane dotyczące żywienia należy dodać przynajmniej jedno wstawienie.
    </h3>
    <a routerLink="../insert/add" mat-raised-button color="accent">Dodaj wstawienie</a>
</ng-container>


<mat-card class="mat-elevation-z0" *ngIf="hasInserts | async">

        <cdk-table #table [dataSource]="items | async">

            <ng-container cdkColumnDef="day">
                <cdk-header-cell *cdkHeaderCellDef>Dzień</cdk-header-cell>
                <cdk-cell *cdkCellDef="let item">{{ item.day }}</cdk-cell>
            </ng-container>
    
            <ng-container cdkColumnDef="date">
                <cdk-header-cell *cdkHeaderCellDef>Data</cdk-header-cell>
                <cdk-cell *cdkCellDef="let item">{{ item.date | date:'dd/MM/yyyy' }}</cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="weight">
                <cdk-header-cell *cdkHeaderCellDef>Przyrost wagi stada</cdk-header-cell>
                <cdk-cell *cdkCellDef="let item">
                    <span class="table__chip" *ngIf="!item.weight" matTooltip="Prognoza">p</span>
                    <a class="table__link" routerLink="../weight">{{ item.totalPredictedWeightIncrement | number:'1.0-0' | zeroDash | unit:'kg' }}</a>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="fcr">
                <cdk-header-cell *cdkHeaderCellDef>FCR</cdk-header-cell>
                <cdk-cell *cdkCellDef="let item">{{ item.fcr | number:'1.3-3' | zeroDash | unit:'kg'}}</cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="totalFcr">
                <cdk-header-cell *cdkHeaderCellDef>Dzienne zużycie paszy</cdk-header-cell>
                <cdk-cell *cdkCellDef="let item">{{ (item.totalPredictedWeightIncrement * item.fcr) | number:'1.0-0' | zeroDash | unit:'kg' }}</cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="fodderTotalQty">
                <cdk-header-cell *cdkHeaderCellDef>Prognozowany stan paszy</cdk-header-cell>
                <cdk-cell *cdkCellDef="let item">{{ item.fodderQuantity | number:'1.0-0' | zeroDash | unit:'kg' }}</cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="fodderPurchaseQty">
                <cdk-header-cell *cdkHeaderCellDef>Zakupiona pasza</cdk-header-cell>
                <cdk-cell *cdkCellDef="let item">
                    <a class="table__link" routerLink="fodder">
                        {{ item.fodderPurchase | number:'1.0-0' | zeroDash | unit:'kg' }}
                    </a>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="actions">
                <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
                <cdk-cell *cdkCellDef="let item">
                    <span class="table__row-action">
                        <a mat-button [routerLink]="['fodder', 'add', { timestamp: item.date.getTime() }]">Kup paszę</a>
                    </span>
                </cdk-cell>
            </ng-container>
    
            <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
            <cdk-row *cdkRowDef="let item; columns: displayedColumns;"></cdk-row>
        </cdk-table>
    
    </mat-card>
