<mat-card class="mat-elevation-z0">

    <form novalidate #form="ngForm" (ngSubmit)="onSubmit(form)">

        <mat-form-field>
            <input
                matInput
                required
                name="date"
                placeholder="Data zakupu paszy"
                [ngModel]="(model | async)?.date"
                #date="ngModel"
                [matDatepicker]="purchaseDatapicker"
                [matDatepickerFilter]="insertionDatepickerFilter"
            />
            <mat-datepicker-toggle matSuffix [for]="purchaseDatapicker"></mat-datepicker-toggle>
            <mat-datepicker #purchaseDatapicker></mat-datepicker>
            <mat-error *ngIf="errorMsgVisible(date) && date.hasError('required')">Podaj datę sprzedaży</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                name="type"
                placeholder="Rodzaj paszy (opcjonale)"
                [ngModel]="(model | async)?.type"
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                name="provider"
                placeholder="Dostawca (opcjonale)"
                [ngModel]="(model | async)?.provider"
            />
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                required
                type="number"
                name="quantity"
                placeholder="Ilość"
                [ngModel]="(model | async)?.quantity"
                #quantity="ngModel"
            />
            <span matSuffix>kg</span>
            <mat-error *ngIf="errorMsgVisible(quantity) && quantity.hasError('required')">Podaj wagę zakupionej paszy</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input
                matInput
                required
                type="number"
                name="price"
                placeholder="Cena za tonę"
                [ngModel]="(model | async)?.price"
                #price="ngModel"
            />
            <span matSuffix>zł</span>
            <mat-error *ngIf="errorMsgVisible(price) && price.hasError('required')">Podaj cenę za tonę</mat-error>
        </mat-form-field>

        <div class="form__action-bar">
            <div class="summary">
                <div class="summary__value">{{ (price.value * quantity.value / 1000 || 0) | number:'1.0-0' }} zł</div>
                <div class="summary__label">Wartość zakupu</div>
            </div>
        </div>

        <div class="form__action-bar">
            <button mat-button (click)="onCancel()">Anuluj</button>
            <button mat-raised-button color="accent" type="submit">Zapisz</button>
        </div>

    </form>

</mat-card>