<ng-container *ngIf="(hasInserts | async) === false">
    <h3 class="text-xs-center">
            Aby wyświetlić prognozowaną wagę należy dodać przynajmniej jedno wstawienie.
    </h3>
    <a routerLink="../../insert/add" mat-raised-button color="accent">Dodaj wstawienie</a>
</ng-container>

<mat-card class="mat-elevation-z0" *ngIf="hasInserts | async">

    <cdk-table #table [dataSource]="items | async">

        <ng-container cdkColumnDef="day">
            <cdk-header-cell *cdkHeaderCellDef>Dzień</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.day }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="date">
            <cdk-header-cell *cdkHeaderCellDef>Data</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.date | date:'dd/MM/yyyy' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="weight">
            <cdk-header-cell *cdkHeaderCellDef>Waga jednostkowa</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">
                <form #form="ngForm" (ngSubmit)="onItemChange(form)">
                    <input name="id" [ngModel]="item.weightId" type="hidden">
                    <input name="date" [ngModel]="item.date" type="hidden">
                    <mat-form-field class="mat-form-field--in-table">
                        <input matInput name="value" [ngModel]="item.weight" type="number" (blur)="form.ngSubmit.emit()"/>
                        <span matSuffix>kg</span>
                    </mat-form-field>
                </form>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="marketWeight">
            <cdk-header-cell *cdkHeaderCellDef>Norma wagi jednostkowej</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.marketWeight | number:'1.3-3' | zeroDash | unit:'kg' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="weightDeviation">
            <cdk-header-cell *cdkHeaderCellDef>Odchylenie od normy</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">{{ item.weight - item.marketWeight | number:'1.3-3' | zeroDash | unit:'kg' }}</cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="increment">
            <cdk-header-cell *cdkHeaderCellDef>Przyrost dzienny</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">
                <span>{{ item.predictedWeightIncrement | number:'1.3-3' | zeroDash | unit:'kg' }}</span>
                <span class="table__chip" *ngIf="!item.weight" matTooltip="Prognoza">p</span>
            </cdk-cell>
        </ng-container>

        <ng-container cdkColumnDef="weightTotal">
            <cdk-header-cell *cdkHeaderCellDef>Waga stada</cdk-header-cell>
            <cdk-cell *cdkCellDef="let item">
                <span>{{ item.totalPredictedWeight | number:'1.0-0' | zeroDash | unit:'kg' }}</span>
                <span class="table__chip" *ngIf="!item.weight" matTooltip="Prognoza">p</span>
            </cdk-cell>
        </ng-container>

        <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
        <cdk-row *cdkRowDef="let item; columns: displayedColumns;"></cdk-row>

    </cdk-table>

</mat-card>